@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Lab03_ASPNET.Models>

<h1>Assignment 3</h1>
<h2>Rafael Barroso Rodrigues</h2>
<h2>200568204</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.pid</td>
                <td>@item.productname</td>
            </tr>
        }
    </tbody>
</table>
